@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-white leading-[1.85em] font-normal;
  }
}

@layer components {
  .text-error {
    @apply text-2xl font-bold tracking-tight text-white md:text-4xl;
  }
  .button-add-to-cart {
    @apply text-white bg-green text-xl font-bold tracking-wider p-2 rounded-2xl outline outline-white outline-1 hover:bg-davys-grey hover:outline-none hover:transition-colors disabled:bg-davys-grey disabled:outline-none;
  }
  .button-update {
    @apply text-white text-xl font-bold capitalize py-2;
  }

  .clip-bottom {
    clip-path: polygon(0 -1px, 100% -1px, 100% 100%, 0 90%);
  }

  .clip-top {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  }
}

:root {
  --green: hsla(103, 11%, 45%, 1);
  --quick-silver: hsla(0, 0%, 65%, 1);
  --davys-grey: hsl(36, 3%, 34%);
  --smoky-black-1: hsla(40, 12%, 5%, 1);
  --smoky-black-2: hsla(30, 8%, 5%, 1);
  --smoky-black-3: hsla(0, 3%, 7%, 1);
  --eerie-black-1: hsla(210, 4%, 9%, 1);
  --eerie-black-2: hsla(210, 4%, 11%, 1);
  --eerie-black-3: hsla(180, 2%, 8%, 1);
  --eerie-black-4: hsla(0, 0%, 13%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --black: hsla(0, 0%, 0%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --black-alpha-15: hsla(0, 0%, 0%, 0.15);

  --radius-24: 2.4rem;
  --radius-circle: 50%;

  /**
   * TRANSITION
   */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.btn {
  position: relative;
  color: var(--green);
  font-size: var(--fontSize-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 0.2rem solid var(--green);
  padding: 1.2rem 4.5rem;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  border-radius: var(--radius-circle);
  background-color: var(--green);
  transition: var(--transition-2);
  z-index: -1;
}

.btn .text {
  transition: var(--transition-1);
}

.btn .text-2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
  color: var(--smoky-black-1);
}

.btn:is(:hover, :focus-visible)::before {
  bottom: -50%;
}

.btn:is(:hover, :focus-visible) .text-1 {
  transform: translateY(-4rem);
}

.btn:is(:hover, :focus-visible) .text-2 {
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-secondary {
  background-color: var(--green);
  color: var(--black);
  border-radius: 1rem;
}

.btn-secondary::before {
  background-color: var(--smoky-black-1);
}

.btn-secondary .text-2 {
  color: var(--white);
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.section {
  position: relative;
  padding-block: var(--section-space);
  z-index: 1;
}

.grid-list {
  display: grid;
  gap: 4rem;
}

.hover\:shine {
  position: relative;
}

.hover\:shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
  transform: skewX(-0.08turn) translateX(-180%);
}

.hover\:shine:is(:hover, :focus-within)::after {
  transform: skewX(-0.08turn) translateX(275%);
  transition: var(--transition-3);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: var(--eerie-black-4);
}

.btn-text {
  color: var(--green);
  padding-block-end: 0.4rem;
  margin-inline: auto;
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-3);
  font-weight: var(--weight-bold);
  transition: var(--transition-1);
}

.btn-text:is(:hover, :focus-visible) {
  color: var(--white);
}

.shape {
  display: none;
  position: absolute;
  max-width: max-content;
  z-index: -1;
}

.w-100 {
  width: 100%;
}

.h-36 {
  height: 36rem;
}

.move-anim {
  animation: move 5s linear infinite;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(3rem);
  }
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.input-field {
  background-color: var(--eerie-black-2);
  color: var(--white);
  height: 5.6rem;
  padding: 1rem 2rem;
  border: 0.1rem solid var(--white-alpha-10);
  margin-block-end: 2rem;
  outline: none;
  transition: border-color var(--transition-2);
}

.input-field::placeholder {
  color: inherit;
}

.input-field:focus {
  border-color: var(--green);
}

.icon-wrapper {
  position: relative;
  margin-block-end: 2rem;
}

.icon-wrapper .input-field {
  margin-block-end: 0;
  padding-inline-start: 4rem;
  appearance: none;
  cursor: pointer;
}

.icon-wrapper ion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  --ionicon-stroke-width: 5rem;
  pointer-events: none;
}

.icon-wrapper ion-icon:first-child {
  left: 1.5rem;
}

.icon-wrapper ion-icon:last-child {
  right: 1rem;
}

/*-----------------------------------*\
  #PRELOAD
\*-----------------------------------*/

.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--green);
  z-index: 10;
  display: grid;
  place-content: center;
  justify-items: center;
  transition: var(--transition-2);
}

.preload > * {
  transition: var(--transition-1);
}

.preload.loaded > * {
  opacity: 0;
}

.preload.loaded {
  transition-delay: 250ms;
  transform: translateY(200%);
}

.circle {
  width: 11.2rem;
  height: 11.2rem;
  border-radius: var(--radius-circle);
  border: 0.3rem solid var(--white);
  border-block-start-color: var(--smoky-black-3);
  margin-block-end: 4.5rem;
  animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.preload img {
  display: block;
  width: 50%;
  height: auto;

  animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.sidebar-link {
  transition: var(--transition-1);
}

.sidebar-link:is(:hover, :focus-visible) {
  color: var(--green);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black-alpha-80);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);
  z-index: 1;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.wave {
  width: 100vw;
  height: 426px;
}

.hero-text {
  margin-block: 1rem 4rem;
}

.hero-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--green);
  width: 9rem;
  height: 9rem;
  transform: scale(0.6);
  cursor: pointer;
  border-radius: 1000px;
}

.hero-btn img {
  margin-inline: auto;
  margin-block-end: 0.6rem;
}

.hero-btn .span {
  color: var(--black);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-1);
  line-height: var(--lineHeight-3);
}

.hero-btn::after {
  inset: 0;
  border: 0.1rem solid var(--green);
  animation: rotate360 15s linear infinite;
}

.slider-reveal {
  transform: translateY(3rem);
  opacity: 0;
}

.hero .slider-item.active .slider-reveal {
  animation: sliderReveal 1s ease forwards;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero .slider-item.active .hero-title {
  animation-delay: 1000ms;
}

.hero .slider-item.active .hero-text {
  animation-delay: 1.5s;
}

.hero .slider-item.active .btn {
  animation-delay: 2s;
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service .section-text {
  margin-block-end: 4rem;
}

.service-card {
  overflow: hidden;
}

.service-card .has-before {
  padding-block: 3rem;
  margin-block-end: 2.6rem;
  z-index: 1;
}

.service-card .has-before::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 14rem;
  height: 100%;
  background-image: url("../public/images/img-pattern.svg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  transition: var(--transition-2);
  transition-delay: 0;
  z-index: -1;
  will-change: transform;
}

.service-card:is(:hover, :focus-within) .has-before::before {
  transform: rotateY(0.5turn) translateX(50%);
  transition-delay: 300ms;
}

.card-banner {
  transition: var(--transition-2);
}

.card-banner:is(:hover, :focus-within) {
  transform: scale(1.05);
}

.service .card-title {
  margin-block-end: 1.2rem;
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  position: relative;
  display: flex;
  min-height: 100dvh;
}

.about .section-text {
  margin-block: 1.5rem 3rem;
}

.about .btn {
  margin-inline: auto;
  margin-block-start: 2.6rem;
}

.about-banner {
  position: relative;
}

.about-banner > .w-100 {
  padding-inline-start: 5rem;
}

.about .abs-img {
  position: absolute;
}

.about .abs-img::before {
  z-index: -1;
}

.about .abs-img-1 {
  bottom: -12rem;
  left: 0;
  width: 15rem;
  padding-block: 5rem;
}

.about .abs-img-2 {
  top: -6.5rem;
  left: 0;
  overflow: hidden;
}

.about .abs-img-1::before {
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 14rem;
  background-image: url("../public/images/img-pattern.svg");
  background-repeat: repeat;
}

.about .abs-img-2::before {
  inset: 0;
  background-image: url("../public/images/badge-2-bg.png");
  background-repeat: no-repeat;
  border-radius: 100px;
  background-size: contain;
  animation: rotate360 15s linear infinite;
}

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fontSize-body-2: 2rem;
  }

  /**
   * REUSED STYLE
   */

  :is(.service, .about) .section-text {
    max-width: 42rem;
    margin-inline: auto;
  }

  .contact-number {
    --fontSize-body-1: 3rem;
  }

  /**
   * TOPBAR
   */

  .topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 1rem;
    border-block-end: 0.1rem solid var(--white-alpha-20);
    z-index: 4;
    transition: var(--transition-1);
  }

  .topbar:has(~ .header.active) {
    transform: translateY(-100%);
  }

  .topbar-item:not(.link),
  .topbar .separator {
    display: none;
  }

  .topbar-item {
    gap: 0.6rem;
  }

  .topbar-item ion-icon {
    --ionicon-stroke-width: 6rem;
  }

  .topbar-item .span {
    font-size: var(--fontSize-label-1);
  }

  .topbar .link {
    transition: var(--transition-1);
  }

  .topbar .link:is(:hover, :focus-visible) {
    color: var(--green);
  }

  /**
   * HEADER
   */

  .header {
    top: 5.1rem;
  }

  .header.active {
    top: 0;
  }

  .header .btn {
    display: block;
    margin-inline-start: auto;
  }

  /**
   * HERO
   */

  .hero-btn {
    transform: scale(0.7);
  }

  /**
   * SERVICE
   */

  /**
   * ABOUT
   */

  .about-banner > .w-100 {
    padding-inline-start: 9rem;
  }

  .about .abs-img-1 {
    width: 28.5rem;
  }

  .about .contact-number {
    --fontSize-body-1: 2.4rem;
  }

  /**
   * EVENT
   */

  /**
   * FOOTER
   */

  .footer-brand > * {
    max-width: 46rem;
    margin-inline: auto;
  }

  .footer .input-wrapper {
    position: relative;
  }

  .footer .input-field {
    margin-block-end: 0;
    padding-inline-end: 20.5rem;
  }

  .footer-brand .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: max-content;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  :is(.service, .event) .grid-list li:last-child {
    grid-column: 1 / 3;
    width: calc(50% - 2rem);
    margin-inline: auto;
  }

  /**
   * HEADER
   */

  /**
   * HERO
   */

  .hero {
    padding: 0;
  }

  .hero .slider-btn {
    display: grid;
    position: absolute;
    z-index: 1;
    color: var(--green);
    font-size: 2.4rem;
    border: 0.1rem solid var(--green);
    width: 4.5rem;
    height: 4.5rem;
    place-items: center;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: var(--transition-1);
  }

  .hero .slider-btn ion-icon {
    transform: rotate(-45deg);
  }

  .hero .slider-btn.prev {
    left: 3rem;
  }

  .hero .slider-btn.next {
    right: 3rem;
  }

  .hero .slider-btn:is(:hover, :focus-visible) {
    background-color: var(--green);
    color: var(--black);
  }

  /**
   * RESERVATION
   */

  .reservation .input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .reservation .input-wrapper:nth-child(4) {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * FOOTER
   */

  .footer-brand {
    grid-column: 1 / 3;
  }

  .copyright {
    margin-top: 1rem;
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  :is(.service, .event) .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  :is(.service, .event) .grid-list li:last-child {
    grid-column: auto;
    width: 100%;
  }

  /**
   * TOPBAR
   */

  .topbar-item:not(.link) {
    display: flex;
  }

  .topbar .item-2 {
    margin-inline-end: auto;
  }

  /**
   * SERVICE
   */

  .service .shape {
    display: block;
  }

  .service .shape-1 {
    bottom: 5rem;
    left: 0;
  }

  .service .shape-2 {
    top: 5rem;
    right: 0;
  }

  /**
   * ABOUT
   */

  /**
   * MENU
   */

  .menu .grid-list {
    position: relative;
    column-gap: 9rem;
  }

  /* .menu .grid-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    border-inline-start: .1rem solid var(--white-alpha-20);
  } */

  /**
   * TESTIMONIALS
   */

  .testi-text {
    max-width: 91rem;
    margin-inline: auto;
  }

  /**
   * RESERVATION
   */

  .reservation-form {
    display: block;
    margin: 0 auto 0 auto;
    width: 75%;
  }

  /**
   * FOOTER
   */

  .footer .grid-list {
    grid-template-columns: 0.45fr 1fr 0.45fr;
    align-items: center;
  }

  .footer-brand {
    grid-column: auto;
    order: 1;
    padding-block: 10rem;
  }

  .footer-list:last-child {
    order: 2;
  }

  .footer-terms,
  .copyright-anpc {
    gap: 1rem;
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fontSize-title-2: 2.8rem;
  }

  /**
   * REUSED STYLE
   */

  /**
   * TOPBAR
   */

  .topbar .separator {
    display: block;
  }

  .header .btn {
    margin-inline-start: 0;
  }

  /**
   * HERO
   */

  .hero-btn {
    bottom: 5rem;
    right: 5rem;
    transform: scale(1);
  }

  /**
   * SERVICE
   */

  .service .grid-list {
    gap: 15rem;
  }

  .service .grid-list li:nth-child(2n + 1) {
    transform: translateY(-16rem);
  }

  .service .section-text {
    margin-block-end: 7.5rem;
  }

  /**
   * MENU
   */

  .menu .grid-list {
    gap: 5.5rem 5.5rem;
    margin-block-end: 5.5rem;
  }

  /**
   * TESTIMONIALS
   */

  .form-left,
  .form-right {
    padding: 7.5rem 6rem;
  }

  /**
   * FEATURES
   */

  .features .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/**
 * responsive for larger than 1400px screen
 */

@media (min-width: 1400px) {
  /**
   * HEADER
   */

  /**
   * ABOUT
   */

  .about-content {
    padding-inline-end: 9rem;
  }

  .about .shape {
    display: block;
    top: 46%;
    left: 0;
  }

  /**
   * FEATURES
   */

  .features {
    overflow: visible;
  }

  .features .shape {
    display: block;
  }

  .features .shape-1 {
    top: -10rem;
    right: 0;
  }

  .features .shape-2 {
    bottom: 8rem;
    left: 0;
  }
}

/* terms */

.section-terms {
  margin-top: 20rem;
}

.list-group-item {
  color: var(--white);
  border: unset;
}

.list-group-item:not(:last-child) {
  border-bottom: 0.2rem solid var(--white);
}

/* cookies */

.section-cookies {
  margin-top: 20rem;
}
.card-body {
  background-color: var(--smoky-black-2);
  border-color: var(--green);
}

.table-bordered > :not(caption) > * {
  border-color: var(--green);
  color: var(--white);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: var(--white);
}

.form-control {
  height: 100%;
}

.add_to_cart {
  color: var(--white);
  padding: 0 0.5rem;
  border: unset;
}

.add_to_cart:focus {
  background-color: var(--bs-btn-bg);
  color: var(--white);
}

.btn_cart {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--bs-btn-hover-color);
  background-color: var(--green);
  border-color: var(--bs-btn-hover-border-color);
}

.btn_cart ion-icon {
  font-size: 1.9rem;
  color: var(--white);
}

.total_price {
  font-size: 1.6rem;
}

.btn_cart-checkout {
  background-color: var(--green);
  color: var(--white);
  margin-bottom: 0.5rem;
}

@media (min-width: 485px) {
  .btn_cart-checkout {
    margin-bottom: 0rem;
  }
}

.btn_cart-checkout ion-icon {
  /* display: inline-block; */
  font-size: 2rem;
}

.btn_cart-clear ion-icon {
  font-size: 2rem;
}

.delete {
  color: var(--green);
}

.menu .grid-list li {
  border: 0.1rem solid var(--white-alpha-20);
  border-radius: 0.2rem;
  padding: 1rem;
}

@media (min-width: 575px) {
  .menu .grid-list li {
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .menu .grid-list li {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
  .menu .grid-list li {
    padding: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .menu .grid-list li {
    padding: 3rem;
  }
}

ul {
  padding-left: unset;
}

.sticky-bottom {
  bottom: 2rem;
}

.list-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-3 {
  max-width: 25rem;
}

.table-striped {
  font-size: var(--fontSize-body-4);
  line-height: var(--lineHeight-2);
}

.row {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.btn-success {
  position: relative;
  color: var(--green);
  font-size: var(--fontSize-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 0.2rem solid var(--green);
  padding: 1.2rem 4.5rem;
  overflow: hidden;
  z-index: 1;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--white);
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.gap-10 {
  gap: 1rem;
}

.gap-20 {
  gap: 2rem;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.main-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

body {
  background-color: var(--smoky-black-3);
}
/* tooltip */

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: visible;
  width: 16rem;
  background-color: var(--green);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -10rem;
  left: -10rem;
}

.product-attribute {
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.product-attribute_detail {
  color: var(--green);
}

.events-section {
  position: relative;
  background-color: var(--smoky-black-3);
  min-height: 100dvh;
  display: grid;
  align-items: center;
  gap: 2rem;
}

.single-type {
  position: relative;
  background-color: var(--smoky-black-3);
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.single-type-block {
  display: grid;
  align-items: center;
  min-height: 100%;
  gap: 2rem;
  margin-top: 13rem;
}

.single-type-block_col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.single-type-block_col > img {
  height: 574px;
}
.other-images {
  width: 30%;
  height: 200px;
  cursor: pointer;
}

.related-product_grid {
  display: flex;
  gap: 1rem;
}

.related-product {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.related-product a {
  width: 100%;
}

.related-product a img {
  height: 276px;
}

.size-10 {
  width: 10rem;
  height: 10rem;
}

.events-section-block {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 100%;
  margin-top: 13rem;
}

.events-section-block div {
  flex: 1 1 50%;
}

@media screen and (min-width: 767px) {
  .events-section-block div {
    flex: 1 1 calc(33.3% - 4rem);
  }
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.overflow-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

/* checkout and cart */
.btn-back {
  margin-bottom: 3rem;
}

.checkout-title {
  margin-bottom: 3rem;
}

.cart-item {
  border-bottom: 0.1rem solid var(--white-alpha-20);

  padding-block: 2rem;
}

.checkout-block_btn {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.cart-item_details {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 767px) {
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cart-item_details {
    gap: 3rem;
  }
}

.checkout-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.btn-order {
  position: relative;
  color: var(--white);
  background-color: var(--green);
  font-size: var(--fontSize-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 0.2rem solid var(--green);
  padding: 1.2rem 4.5rem;
  overflow: hidden;
  z-index: 1;
}

.btn-order:hover {
  opacity: 0.8;
}

.btn-order[aria-disabled="true"] {
  cursor: not-allowed;
}
